@page
@model Quanda.Pages.Questions.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <a class="btn btn-primary" asp-page="./Create">Create a new question</a>
</div>

@if(Model.Questions.Count == 0)
{
    <div class="alert alert-info" role="alert">No questions found</div>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Answers</th>
                <th scope="col">Ratings</th>
            </tr>
        </thead>
        @foreach(var question in Model.Questions)
        {
            <tr>
                <td>@question.QuestionTitle</td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
}