@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Quanda</h1>
    <p>A <b>Qu</b>estion <b>and</b> <b>A</b>nswer site</p>
</div>
